/* CSS Variables: To help us define certain properties such as fonts and colors in one place. */

:root {
    /*colors */
    --color-text: #fff;
    --color-text2: #000;
    --color-primary: #c76b15;
    --color-secondary: #ffa569;
    --color-dark: #744545;
    --color-bg: #965205;
    --color-bg2: #f0ae8d;
    --color-bg3: #946262;

    /*fonts*/
    --font-robot: "Roboto";
}