/* Variáveis CSS: Para nos ajudar a definir certas propriedades assim como fontes e cores em um único lugar. */

:root {
    /*colors */
    --color-text: #fff;
    --color-text2: #000;
    --color-primary: #C71585;
    --color-secondary: #ff69b4;
    --color-dark: #FF1493;
    --color-bg: #FF69B4;

    /*fonts*/
    --font-robot: "Roboto";
}